<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Presidential Elections</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/home}">2025 Presidential Election's Standings</a>
        <button class="navbar-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggle-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/user/register}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/user/login}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/form}">Select election</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br /><br />
<div class="container">
    <div class="row">
        <h1 class="text-center">Welcome to the 2025 Presidential Election!</h1>
    </div>
    <div class="row">
        <a class="text-center">In order to vote for a candidate or to become a candidate, please register and log in to this system.</a>
    </div>
    <br>
    <br>
    <div class="row">
        <h2 class="text-center">Current standings:</h2>
    </div>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Total # of votes</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "user : ${users}" th:if="${user.role} == 'ROLE_CANDIDATE'">
            <td th:text = "${user.firstName}"></td>
            <td th:text = "${user.lastName}"></td>
            <td th:text = "${user.email}"></td>
            <td th:text = "${user.numVotes}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>